*
.*

!composer.json

!/administrator/
!/administrator/components/
!/administrator/components/com_tenders/
!/administrator/components/com_tenders/*
!/administrator/components/com_tenders/*/*
!/administrator/components/com_tenders/*/*/*
